@charset 'utf-8';

$margin: 95px;

#battle-page {
  #battle-status {
    @include text-border(darken($base-bg-color, 0));
    width: 290px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin: 0 auto 5px;
    padding: 5px 0;
    text-align: center;

    .value, .next {
      letter-spacing: 2px;
    }
  }

  #field {
    position: relative;
    padding: 10px 0;
    width: $battle-field-width;
    height: $battle-field-height - 20px;
    margin: 0 auto;

    .follower-card {
      position: absolute;
    }

    #damage-message {
      @include text-border(white);
      @include transform(rotate(5deg));
      display: none;
      top: 15px;
      left: 130px;
      font-size: 23px;
      font-weight: bold;
      color: #c00;
      position: absolute;
      z-index: 1000;
    }

    #princess {
      left: $battle-field-width / 2 - $card-width / 2;
    }

    #follower1 {
      top: 165px;
      left: 10px;
    }

    #follower2 {
      top: 165px;
      left: $battle-field-width / 2 - $card-width / 2;
    }

    #follower3 {
      top: 165px;
      left: 198px;
    }
  }

  #user-status {
    @include text-border(darken($base-bg-color, 0));
    font-weight: bold;
    width: 290px;
    padding: 5px 0;
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
    line-height: 1.3;
  }
}


