@charset 'utf-8';

.button {
  @include border-radius(10px);
  @include background(linear-gradient(#fdee00, #965d03 80%, #965d03 85%, #e0ab0d));
  @include box-shadow(darken($base-bg-color, 10) 2px 2px 10px);
  @include text-border(#a05608);
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  background-color: $base-bg-color;
  color: white;
  border: 1px solid #fdee00;
  width: 180px;
  padding: 14px 0;
  margin: 15px auto;
}

.edit-button {
  @include border-top-radius(10px);
  @include box-shadow(darken($base-bg-color, 10), 0, 0, 5px);
  text-decoration: none;
  display: block;
  margin: 10px auto 0;
  background-color: $base-bg-color;
  border: 1px solid $base-border-color;
  border-bottom: 0;
  padding-top: 7px;
  width: 100px;
  height: 30px - 7px;
  text-align: center;
}

